<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Usuarios</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        padding: 20px;
        background-color: #f4f4f4;
      }

      h2 {
        text-align: center;
        color: #333;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      }

      th,
      td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ccc;
      }

      th {
        background-color: #007bff;
        color: white;
      }

      tr:hover {
        background-color: #f1f1f1;
      }

      a {
        margin-right: 10px;
        color: #007bff;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      .add-button {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 15px;
        background-color: #28a745;
        color: white;
        text-decoration: none;
        border-radius: 4px;
      }

      .add-button:hover {
        background-color: #218838;
      }
    </style>
  </head>
  <body>
    <h2>Lista de Usuarios</h2>

    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Nombre</th>
           <th>Correo</th>
          <th>Fecha de registro</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% usuarios.forEach(usuario => { %>
        <tr>
          <td><%= usuario.nombres %></td>
          <td><%= usuario.apellidos %></td>
          <td><%= usuario.fecha_nacimiento %></td>
          <td><%= usuario.direccion %></td>
          <td><%= usuario.celular %></td>
          <td><%= usuario.correo %></td>
          <td>
            <a href="/edit/<%= usuario.id %>">Editar</a>
            <a href="/user/<%= usuario.id %>">Eliminar</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <a class="add-button" href="/add">Agregar Usuario</a>
  </body>
</html>
